nav {
    background-color: hsl(0,0%,8%);
    height: 68px;
}

body {
    background-color: hsl(0, 0%, 85%);
}

.nav-item {
    text-align: center;
    padding: 0;
}

.collapse {
    padding: 0;
    margin-left: 0;
}

.navbar-brand {
    margin-left: 450px;
}

#logo {
    width: 110px;
    height: 38px;
}

.nav-link {
    color: seashell;
}

.icons {
    color: seashell;
}

#dropdown-avatar {
    width: 40px;
    height: 40px;    
}

#kids {
    color: seashell;
    margin-top: -4px;
}

.first-container {
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 38px 8px 0px 16px;
}

.card {
    position: absolute;
    left: 100%;
    margin-left: 0px;
    top: 50%;
}

.second-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 100px;
    padding: 10px 16px;  
}

/* Carousel me 4 cards */

.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #707070;
}

.top-buffer {
    margin-top:20px;
}

.avatar-pic {
    width:100%;
 }

 .space-between{
    display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }


  .gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 2;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
    .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
    
    @media (max-width: 450px) {
    .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    }
    }
    
    @media (max-width: 400px) {
    .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    }
    }

    .btn {
        color: hsl(297. 37%, 35%);
        padding-top: 0%;
        width: 50px;
        height: 30px;
        font-size: x-small;
    }




    #sticky-footer {
        position: relative;
    }
  


